.tiptap {
  &:focus {
    outline: none;
  }

  padding: 1rem 2rem;

  p,
  h1,
  h2,
  h3 {
    margin: 1.5rem 0;
    line-height: 1;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  p.is-editor-empty:first-child::before {
    @apply text-gray-300;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-empty::before,
  h1.is-empty::before,
  h2.is-empty::before,
  h3.is-empty::before {
    @apply text-gray-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .node-task.is-empty::before {
    @apply text-gray-400;
    content: attr(data-placeholder);
    position: relative;
    float: left;
    left: 2.5rem;
    height: 0;
    pointer-events: none;
  }

  a {
    @apply text-blue-500;
    cursor: pointer;
  }

  .ProseMirror-selectednode {
    @apply outline outline-purple-500 outline-2 outline-offset-2;
  }
}
