.tiptap {
  :first-child {
    margin-top: 0;
  }

  padding: 1rem;

  p,
  h1,
  h2,
  h3 {
    margin: 0.6rem 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
